<!DOCTYPE html>
<html lang="en">

<head>
    <link rel="stylesheet" href="../static/css/global.css">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>itprofit</title>
</head>

<body>
    <header class="header">
        <div class="content header-wrapper">
            <div class="logo">
                <picture>
                    <source srcset="../static/assets/header/logo.svg">
                    <img src="../static/assets/header/logo.svg" alt="Logo" loading="lazy" width="35" height="24">
                </picture>
                Itprofit
            </div>
            <button class="login">Login</button>
        </div>
    </header>
    <div id="modal" class="modal">
        <div class="modal-content">
            <span class="close">&times;</span>
            <p>Some text in the Modal..</p>
        </div>
    </div>
    <main>
        <section class="head-section">
            <div class="content head-wrapper">
                <div class="head-inner">
                    <h1>Lessons and insights <span>from 8 years</span></h1>
                    <p class="subtitle-2">Where to grow your business as a photographer: site or social media?</p>
                    <button>Button</button>
                </div>
                <picture>
                    <source srcset="../static/assets/head/image.svg">
                    <img src="../static/assets/head/image.svg" alt="Image" loading="lazy" width="391" height="407">
                </picture>
            </div>
        </section>
    </main>
    <script src="../static/js/index.js"></script>
</body>

</html>