<!DOCTYPE html>
<html lang="en">

<head>
    <link rel="stylesheet" href="../static/css/global.css">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>itprofit</title>
</head>

<body>
    <header class="header">
        <div class="content header-wrapper">
            <div class="logo">
                <picture>
                    <source srcset="../static/assets/header/logo.svg">
                    <img src="../static/assets/header/logo.svg" alt="Logo" loading="lazy" width="35" height="24">
                </picture>
                Itprofit
            </div>
            <button class="login">Login</button>
        </div>
    </header>
    <div id="modal" class="modal">
        <div class="modal-content">
            <span class="close">&times;</span>
            <p>Some text in the Modal..</p>
        </div>
    </div>
    <main>
        <section class="head-section">
            <div class="content head-wrapper">
                <div class="head-inner">
                    <h1>Lessons and insights <span>from 8 years</span></h1>
                    <p class="subtitle-2">Where to grow your business as a photographer: site or social media?</p>
                    <button>Button</button>
                </div>
                <picture>
                    <source srcset="../static/assets/head/image.svg">
                    <img src="../static/assets/head/image.svg" alt="Image" loading="lazy" width="391" height="407">
                </picture>
            </div>
        </section>
        <section class="advantages-section">
            <div class="content advantages-wrapper">
                <h2>Manage your entire community in a single system</h2>
                <p class="subtitle-2">Who is Nextcent suitable for?</p>
                <div class="advantages-inner">
                    <div class="card">
                        <picture>
                            <source srcset="../static/assets/advantages/membership.svg">
                            <img src="../static/assets/advantages/membership.svg" alt="membership" loading="lazy"
                                width="48" height="48">
                        </picture>
                        <h3>Membership Organisations</h3>
                        <p class="subtitle-3">Our membership management software provides full automation of membership
                            renewals and payments</p>
                    </div>
                    <div class="card">
                        <picture>
                            <source srcset="../static/assets/advantages/associations.svg">
                            <img src="../static/assets/advantages/associations.svg" alt="associations" loading="lazy"
                                width="48" height="48">
                        </picture>
                        <h3>National Associations</h3>
                        <p class="subtitle-3">Our membership management software provides full automation of membership
                            renewals and payments</p>
                    </div>
                    <div class="card">
                        <picture>
                            <source srcset="../static/assets/advantages/clubs.svg">
                            <img src="../static/assets/advantages/clubs.svg" alt="clubs" loading="lazy" width="48"
                                height="48">
                        </picture>
                        <h3>Clubs And <br>Groups</h3>
                        <p class="subtitle-3">Our membership management software provides full automation of membership
                            renewals and payments</p>
                    </div>
                </div>
            </div>
        </section>
        <section class="contact-section">
            <div class="content contact-wrapper">
                <h3>Contact</h3>
                <form class="contact-form">
                    <div>
                        <label>Name:
                            <input type="text" class="name" name="name">
                        </label>
                        <div class="error" class="name-error"></div>
                    </div>
                    <div>
                        <label>Email:
                            <input type="email" class="email" name="email">
                        </label>
                        <div class="error" class="email-error"></div>
                    </div>
                    <div>
                        <label>Phone:
                            <input type="text" class="phone" name="phone">
                        </label>
                        <div class="error" class="phone-error"></div>
                    </div>
                    <div>
                        <label>Message:
                            <textarea class="message" name="message"></textarea>
                        </label>
                        <div class="error" class="message-error"></div>
                    </div>
                    <button type="submit">Submit</button>
                </form>
            </div>
        </section>
    </main>
    <footer class="footer">
        <div class="content footer-wrapper">
            <div class="logo">
                <picture>
                    <source srcset="../static/assets/header/logo.svg">
                    <img src="../static/assets/header/logo.svg" alt="Logo" loading="lazy" width="35" height="24">
                </picture>
                Itprofit
            </div>
            <p class="subtitle-3">Copyright © 2020 Nexcent ltd.</p>
            <p class="subtitle-3">All rights reserved</p>
        </div>
    </footer>
    <script src="../../dist/index.js"></script>
    <script src="https://unpkg.com/imask"></script>
</body>

</html>