.header-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 31px 0;
}

.logo {
  display: flex;
  align-items: center;
  font-size: 28px;
  font-weight: 700;
  color: $secondary-color;
}

.login {
  background-color: transparent;
  border: none;
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
  color: $primary-color;
}
