h1 {
  font-weight: 600;
  font-size: 64px;
  line-height: 76px;
}

h2 {
  font-weight: 600;
  font-size: 36px;
  line-height: 44px;
}

h3 {
  font-weight: 700;
  font-size: 28px;
  line-height: 36px;
}

h4 {
  font-weight: 600;
  font-size: 20px;
  line-height: 28px;
}

.subtitle-1 {
  font-weight: 400;
  font-size: 18px;
  line-height: 28px;
}

.subtitle-2 {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
}

.subtitle-3 {
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
}

.subtilte-4 {
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
}

@media only screen and (max-width: 768px) {
  h1 {
    font-weight: 600;
    font-size: 48px;
    line-height: 44px;
  }
  h2 {
    font-weight: 600;
    font-size: 44px;
    line-height: 39px;
  }
  h3 {
    font-weight: 700;
    font-size: 40px;
    line-height: 35px;
  }
  h4 {
    font-weight: 600;
    font-size: 37px;
    line-height: 34px;
  }
}
.header-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 31px 0;
}

.logo {
  display: flex;
  align-items: center;
  font-size: 28px;
  font-weight: 700;
  color: #263238;
}

.login {
  background-color: transparent;
  border: none;
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
  color: #4caf4f;
}

.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
  background-color: #fefefe;
  margin: 15% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
}

.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.head-wrapper {
  height: calc(100vh - 94px);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.head-inner {
  max-width: 650px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.head-inner h1 span {
  color: #4caf4f;
}

.head-inner p {
  margin-top: 15px;
  color: #717171;
}

.head-inner button {
  margin-top: 32px;
  background-color: #4caf4f;
  width: 128px;
  height: 52px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  border-radius: 4px;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: #ffffff;
}

@media screen and (max-width: 1024px) {
  .head-wrapper img {
    width: 270px;
    height: 290px;
  }
}
@media screen and (max-width: 768px) {
  .head-wrapper {
    justify-content: center;
  }
  .head-inner {
    text-align: center;
    align-items: center;
  }
  .head-wrapper img {
    display: none;
  }
}
.advantages-wrapper {
  padding: 40px 0;
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
}

.advantages-wrapper h2 {
  max-width: 520px;
}

.advantages-wrapper p {
  margin-top: 10px;
  color: #717171;
}

.advantages-inner {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.card {
  margin: 16px auto 0;
  padding: 24px 32px;
  max-width: 299px;
  height: 260px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  background-color: #ffffff;
  box-shadow: 0px 2px 4px rgba(171, 190, 209, 0.2);
  border-radius: 8px;
}

.contact-section {
  padding: 50px 0;
  color: black;
}

.contact-wrapper {
  padding: 40px 0;
  display: flex;
  align-items: center;
  flex-direction: column;
  margin: 0 auto;
  text-align: center;
}

.contact-form {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  max-width: 700px;
  width: 100%;
}

.contact-form > div {
  width: 100%;
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.contact-form label {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
}

.contact-form input,
.contact-form textarea {
  margin-top: 5px;
  border-radius: 6px;
  border: 1px solid #4caf4f;
  padding: 5px;
  width: 100%;
  color: #4caf4f;
  font-size: 16px;
}

.contact-form input {
  height: 35px;
}

.contact-form textarea {
  height: 70px;
  resize: none;
}

.contact-form button {
  margin-top: 32px;
  background-color: #4caf4f;
  width: 128px;
  height: 52px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  border-radius: 4px;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: #ffffff;
}

.error {
  color: red;
}

.footer {
  background-color: #4d4d4d;
}

.footer-wrapper {
  color: #ffffff;
  padding: 40px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.footer-wrapper .logo {
  color: #ffffff;
}

.footer-wrapper p {
  margin-top: 5px;
}

/* COMPONENTS */
* {
  margin: 0;
  font-family: "Inter";
  box-sizing: border-box;
}

body {
  padding: 0;
}

button,
a {
  outline: none;
  cursor: pointer;
  text-decoration: none;
}

input {
  outline: none;
}

p {
  margin: 0;
}

.content {
  max-width: 1110px;
  margin: 0 auto;
  overflow: hidden;
}

@media screen and (max-width: 768px) {
  .content {
    padding-left: 10px;
    padding-right: 10px;
    width: 100%;
  }
}/*# sourceMappingURL=global.css.map */