@import "../abstract/typography";
@import "../abstract/variables";
@import "../header";
@import "../head-section";
@import "../advantages-section";

/* COMPONENTS */

* {
  margin: 0;
  font-family: "Inter";
  box-sizing: border-box;
}

body {
  padding: 0;
}

button,
a {
  outline: none;
  cursor: pointer;
  text-decoration: none;
}

input {
  outline: none;
}

p {
  margin: 0;
}

.content {
  max-width: 1110px;
  margin: 0 auto;
  overflow: hidden;
}

@media screen and (max-width: 768px) {
  .content {
    padding-left: 10px;
    padding-right: 10px;
    width: 100%;
  }
}
